<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% c = 0 %}
    {% for post in posts %}
    <ul>
        <li>
            <strong>{{post.screen_name}}</strong>
            {{post.post_date}}
            {% if post.bost_or_roast %}
            Boast
            {% else %}
            Roast
            {% endif %}
            <br></br>
             {{post.message}}
             <br></br>
             {{post.popularity}}
             <button>
                <a href="/upvote/{{post.id}}">upvote</a>
            </button>
            <button>
                <a href="/downvote/{{post.id}}">downvote</a>
            </button>
        </li>
    </ul>
    {% endfor %}
    <button>
        <a href="/message/">message</a>
    </button>
</body>
</html>